{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!--This displays post info-->
<h3>Post: {{ post.title }}</h3> <br/><br/>
    {% if user.is_authenticated %}
        <small> <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
            <a href="{% url 'tags' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        </small>  <hr>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}">
        {% endif %} </br>
        {{ post.content|safe }} <br>
<hr>
         <!--This is info to show likes-->
    <form action="{% url 'post_like' object.id %}" method="POST">
        {% csrf_token %}
        {% if post_is_liked %}
            <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
        {% else %}
             <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Like</button>
        {% endif %}
    </form>
        <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong></br></br>

        <!--This is info to show profile card-->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url}}" width="200" height="200" class="card-img">
        {% else %}
            <img src="{% static 'blog/images/book_image.jpg' %}" width="200" height="200" class="card-img">
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author }}</h5>
        <p class="card-text"> {{ post.author.profile.bio}} </p>
        <p class="card-text"><small class="text-muted"></small>
            <a href="{% url 'user_profile' post.author.profile.id %}">Profile</a>
            {% if post.author.profile.personal_url %}
                 | <a href="{{ post.author.profile.personal_url }}">Website</a>
            {% endif %}
            {% if post.author.profile.linkedin_url %}
                 | <a href="{{ post.author.profile.linkedin_url }}">LinkedIn</a>
            {% endif %}
            {% if post.author.profile.fb_url %}
                 | <a href="{{ post.author.profile.fb_url }}">Facebook</a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
                 | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
            {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
         <!--This is navigation section-->
        <small> <a href="{% url 'update_post' post.pk %}">Edit</a> </small>
        <small> <a href="{% url 'delete_post' post.pk %}">Delete</a> </small>
        <small><a href="{% url 'post_list' %}">Back</a> </br></br> </small>
         <!--This is info to show comments-->
        <a class="btn btn-secondary" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>
        <hr>
            {% for comment in post.comments.all %}
            <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.comment|linebreaks }}</p>
            </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %} </br></br>


         <!--This is if user isn't logged in -->
    {% else %}
        {{ post.content|slice:":50"|safe }}... </br>
        <small><p class="tags">
            Tags:
            {% for tag in post.tags.all %}
            <a href="{% url 'tags' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        </small>
        <hr>
        You must <a href="{% url 'register' %}">Register</a> to Read More!<hr>
        </br><small><a href="{% url 'post_list' %}">Back</a> </br></br> </small>
    {% endif %}


{% endblock %}
